#mainModalBody { max-height:475px!important; overflow-y: auto!important; min-height:300px!important;}


.focus{
    
    outline: solid #00ADEF;   
    
    }
    
.green-bg{ background-color: #7FD8FF;
}

.white-txt{
    color: #FFF;
}


.color-sample {
    
    width: 10px;
    height: 10px;
    display: inline-block;
}

td.day:hover {
    
    background-color: #ccc !important;
    cursor: pointer !important;
    
}

td.active {
    
    
    background-color: #7FD8FF !important;
    
}


.no-underline a{
    
  text-decoration: none;
  color: #333;
    
    
}