#mainModal{ width:80%!important; margin-left:-40%!important; }
#mainModalBody { max-height:500px!important; overflow-y: auto!important; min-height:300px!important;}
.dataTables_length{ margin-left: 37px

.active{ background-color: #7FD8FF!important; }

.day:hover {  outline: solid #00ADEF!important;  }


.focus{
    
    outline: solid #00ADEF;   
    
    }
    
.green-bg{ background-color: #7FD8FF;
}

.white-txt{
    color: #FFF;
}


.color-sample {
    
    width: 10px;
    height: 10px;
    display: inline-block;
}