<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Form</title>
</head>

<body>

<p>Here is the latest form submission from your website:</p>
<table border="1">

<tr>
    <td valign="top"><p>Business Name:</p></td>
    <td valign="top"><p><b>$realname</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Person to Contact:</p></td>
    <td valign="top"><p><b>$contact</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Email Address:</p></td>
    <td valign="top"><p><b>$email</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Phone:</p></td>
    <td valign="top"><p><b>$phone</b></p></td>
</tr>

<tr>
    <td valign="top"><p>Business Location:</p></td>
    <td valign="top"><p><strong>$FairfaxCity<br />
    $FallsChurchCity<br />
    $ManassasCity<br />
    $ManassasParkCity<br />
    $FairfaxCounty<br />
    $LoudounCounty<br />
    $PrinceWilliamCounty
    </strong></p></td>
</tr>
<tr>
    <td colspan="2" valign="top"><p>Nature of the Request (check all that apply)</p></td>
</tr>
<tr>
    <td valign="top"><p>General Information:  I am trying to find out more about what you do and can do for my company.</p></td>
    <td valign="top"><p><b>$GereralInfo</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Specific Information:  I have a specific need:</p></td>
    <td valign="top"><strong>$SpecificInfo</strong></td>
</tr>
<tr>
	<td valign="top"><p>Recruiting and Screening Services</p></td>
    <td valign="top"><p><b>$Recruiting</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Employee Development/Retention Services</p></td>
    <td valign="top"><p><b>$EmployeeDevelopment</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Business Information (Consultative and Planning) Services</p></td>
    <td valign="top"><p><b>$BusinessInfo</b></p></td>
</tr>
<tr>
    <td valign="top"><p>Other</p></td>
    <td valign="top"><p><b>$OtherInfo</b> <strong>$OtherInfoText</strong></p></td>
</tr>
<tr>
    <td valign="top"><p>I have used services from <em><strong>SkillSource</strong></em> in the past</p></td>
    <td valign="top"><p><b>$UsedServicesBefore</b></p></td>
</tr>

<tr>
    <td valign="top"><p>I have never used <em><strong>SkillSource </strong></em>services before</p>
    </td>
    <td valign="top"><p><b>$NotUsedServicesBefore</b></p></td>
</tr>
</table>
</body>
</html>
