<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Form</title>
</head>

<body>

<p>Here is the latest form submission from your website:</p>
<table border="1">

<tr>
    <td><p>Company Name:</p></td>
    <td><p><b>$realname</b></p></td>
</tr>
<tr>
    <td><p>Phone Number:</p></td>
    <td><p><b>$phone</b></p></td>
</tr>
<tr>
    <td><p>Address:</p></td>
    <td><p><b>$address</b></p></td>
</tr>
<tr>
    <td><p>Contact Name:</p></td>
    <td><p><b>$contact_name</b></p></td>
</tr>
<tr>
    <td><p>Email:</p></td>
    <td><p><b>$email</b></p></td>
</tr>
<tr>
    <td><p>Web Site:</p></td>
    <td><p><b>$website</b></p></td>
</tr>
<tr>
    <td><p>1. 	How did you hear about the <em><strong>SkillSource</strong></em> Center?</p></td>
    <td><p><b>$hear_about_us</b></p></td>
</tr>
<tr>
    <td valign="top"><p>2. 	What service(s) were you looking for?<br />
    (Check all that apply)</p></td>
    <td><p>Job Fair: <strong>$JobFair</strong><br />
      Applicant Screening: <strong>$ApplicantScreening</strong><br />
      List Job Openings: <strong>$ListJobOpenings</strong><br />
      Recruitment Assistance: <strong>$RecruitmentAssistance</strong><br />
      Referral Services: <strong>$ReferralServices</strong><br />
      Ongoing use of office space for recruitment: <strong>$OfficeSpace</strong><br />
      Labor Market Information: <strong>$LMI</strong><br />
      Seminar/Workshop: <strong>$SeminarWorkshop</strong><br />
      Consultative Services to start a new business: <strong>$ConsultNew</strong><br />
      Consultative Services with business needs: <strong>$ConsultNeeds</strong><br />
      Other: <strong>$Other</strong><br />
    (if other please explain): <strong>$OtherService </strong></p></td>
</tr>

<tr>
    <td colspan="2"><p>3. Anticipated outcomes from the service(s) you received:</p></td>
   
<tr>
	<td><p>How many prospective employees have you interviewed?</p></td>
    <td><p><b>$interviewed</b></p></td>
</tr>
<tr>
    <td><p>How many met your job requirements?</p></td>
    <td><p><b>$met_requirements</b></p></td>
</tr>
<tr>
    <td><p>Were the candidates prepared for the job interview?</p></td>
    <td><p><b>$prepared</b></p></td>
</tr>
<tr>
    <td><p>If no, how could they have been prepared better?</p></td>
    <td><p><b>$prepared_better</b></p></td>
</tr>
<tr>
    <td><p>Of those interviewed, how many viable candidates were you able to identify for the position(s) offered?</p></td>
    <td><p><b>$candidates_identify</b></p></td>
</tr>

<tr>
    <td><p>4. 	Did you receive the services you were looking for?</p>
    </td>
    <td><p><b>$receive_services</b></p></td>
</tr>
<tr>
    <td><p>Do you plan to utilize our services again?</p></td>
    <td><p><b>$use_again</b></p></td>
</tr>
<tr>
    <td><p>Would you recommend our services to others?</p></td>
    <td><p><b>$recommend</b></p></td>
</tr>
<tr>
    <td><p>If no, please provide comments below.</p></td>
    <td><p><b>$not_recommend_why</b></p></td>
</tr>
<tr>
    <td><p>5. 	Did your company realize any cost<br />
      savings by utilizing <em><strong>SkillSource</strong></em> services?</p>
    <p></p></td>
    <td><p><b>$savings</b></p></td>
</tr>
<tr>
    <td><p>Compared to other recruiting methods, how would you rate <em><strong>SkillSource </strong></em>results?</p></td>
    <td><p><b>$rate</b></p></td>
</tr>
<tr>
    <td><p>6. 	How can we improve our services to you and your business?</p></td>
    <td><p><b>$improve_how</b></p></td>
</tr>
<tr>
    <td valign="top"><p>7. What locations did you use?</p></td>
    <td><p>All: <strong>$All_Locations</strong><br />
      Fairfax County <em><strong>SkillSource</strong></em> Center, Annandale: <strong>$FairfaxAnnandale</strong><br />
      Fairfax County <em><strong>SkillSource</strong></em> Center, Alexandria: <strong>$FairfaxAlexandriaCenter</strong><br />
      Fairfax County <em><strong>SkillSource</strong></em> Center, Reston: <strong>$FairfaxRestonCenter</strong><br />
      Loudoun Workforce Resource Center, Leesburg: <strong>$LoudounLeesburg</strong><br />
      Prince William <em><strong>SkillSource</strong></em> Center, Woodbridge: <strong>$PWWoodbridge</strong><br />
      <em><strong>SkillSource</strong></em> Career Services Center, NVCC, Manassas Campus: <strong>$Manassas</strong><br />
      Fairfax County Sheriff&rsquo;s Office PreRelease Center: <strong>$FairfaxSheriff </strong><br />
      SHARE Network: <strong>$ShareNetwork</strong><br />
      (identify SHARE location): <strong>$SHARE_Network_Location </strong><br />
    </p></td>
</tr>
</table>
</body>
</html>
